{% extends "new_base.html" %}

{% block title %}
  决策表
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename = 'css/report.css') }}">
  <script src="{{ url_for('static',filename = 'jquery/jquery-3.6.0.min.js') }}"></script>

  <script src="{{ url_for('static',filename = 'js/report_decision.js') }}"></script>
{% endblock %}

{% block body %}

  <div class="container-fluid mt-3" id="total1">


    <div>
      <table class="table-bordered"  width="100%" id="table1">
        <tr class="firstHead">
          <th rowspan="2" class="col1">周</th>
          <th rowspan="2" class="col2">天气</th>
          <th rowspan="2" class="col3">温度</th>
          <th colspan="3">配方</th>

          <th rowspan="2" class="col7">价格</th>

          <th colspan="3">指标</th>

        </tr>
        <tr class="twoHead">
          <th class="col4">柠檬</th>
          <th class="col5">方糖</th>
          <th class="col6">冰块</th>
          <th class="col8">购买人数</th>
          <th class=" col9">当日好评率</th>
          <th class="col10">口碑</th>
        </tr>
      </table>
      <div id="lowerLbl">
        <div class="d-flex justify-content-center mt-3">
          <div class="p-2">
            <text id="rowsNum">共0条</text>
          </div>
          <div class="p-1">
            <button type="button" class="btn btn btn-outline-dark btn-sm" onclick="last()">上一页</button>
            <button type="button" class="btn btn btn-outline-dark btn-sm" onclick="next()" id="pno" disabled>1
            </button>
            <button type="button" class="btn btn btn-outline-dark btn-sm" onclick="next()">下一页</button>

          </div>
          <div class="p-1">
            前往<input style="width: 40px; margin-inline: 3px" width="20px" type="text" id="gopg" onclick="gopage()"/>页
          </div>
        </div>


      </div>

    </div>

  </div>



  <div id="dataid" d="{{ data }}" style="display:none"></div>
  <script type="text/javascript">
      var js_data = document.getElementById('dataid').getAttribute('d');
      load(js_data);
  </script>

{% endblock %}


